/* .edit-input {
  width: 250px;
} */
.edit-logcards {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.edit-logcards:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.edit-row {
  height: 100%;
}
.default_in{
  cursor: no-drop;
}
.default_in:hover{
  border-color: lightgray;
}
.default_in:focus{
  border-color: lightgray;
  box-shadow: none;
}
