.forgot-row {
  height: 100%;
}
.edit-input {
  width: 100%;
}
.for_row {
  margin-top: 20px;
}
.but_back{
    font-size: 15px,;
    font-weight: 600;
    color: rgb(70, 142, 70);
}
.but_back:hover{
  color: rgb(128, 182, 128);
}
