.list-row {
  height: 100%;
}
.list-row-load {
  margin-top: 15%;
}
.list-avathar {
  border-radius: 10px;
  border: 2px solid #0e1630;
  height: 157px;
  width: 147px;
}
.table-col-style {
  font-weight: bold;
  font-size: 16.5px;
  color: rgb(187, 0, 0);
}
.table-title {
  color: #0e3bcf;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
