.course-cards {
  /* height: 16vh; */
  cursor: pointer;
}
.mycourse-box::-webkit-scrollbar {
  display: none;
}
.mycourse-outer {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.mycourse-box1 {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: red; */
  transition: 1s;
}
.mycourse-box2 {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: blue; */
  transform: translateX(-100%);
  transition: 1s;
}
.mycourse-boxs1 {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s;
}
.mycourse-boxs2 {
  position: absolute;
  height: 100%;
  width: 100%;
  /* background-color: blue; */
  transform: translateX(0%);
  transition: 1s;
}
.staff-course-table{
  width: 60vw;
  font-weight: bold;
  text-align: center;
}
.staff-table-col{
  font-weight: bold;
  font-size: 15px;
  color: blue;
  text-align: center;
}
