.nav-menus {
  height: 8vh;
}
.menuitem1 {
  font-weight: bold;
  font-size: 17px;
  color: rgb(0, 191, 255);
  height: 8vh;
  display: flex;
  align-items: center;
}
.menuitem2 {
  height: 8vh;
  display: flex;
  align-items: center;
}
.navbut,
.navbutsub {
  color: rgb(229, 229, 238);
  font-weight: bold;
  font-size: 14px;
}
.navbut:hover {
  color: rgb(57, 143, 249);
}
.time {
  font-weight: 600;
  font-size: 16px;
  color: rgb(165, 216, 165);
}
.time-flex {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 426px) and (min-width: 0px) {
  .time-flex {
    display: none;
  }
  .menuitem2 {
    margin-top: .5vh;
  }
}

@media only screen and (min-width: 426px) {
  .time-flex {
    display: block;
    margin-left: 21%;
  }
}
